.cols {
    justify-content: center;
    text-align: center;
}

.barra {
    margin: auto;
    margin-top: 7%;
    width: 20em;
    height: 15em;
}

.barra2 {
    margin: auto;
    margin-top: 7%;
    width: 20em;
    height: 15em;
}

.torta {
    margin: auto;
    margin-top: 15%;
    width: 100vw;
    height: 50vh;
    min-height: 350px;
}

@media (min-width: 850px) {
    .cols {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0.5em;
    }

    .barra {
        margin-top: 1.2em;
        padding: 2%;
        width: 23em;
        height: 15em;
        /* border-style: solid;
        border-color: rgb(173, 173, 173, 0.3);
        border-width: 0.1em; */
    }

    .barra2 {
        margin-top: 0.3em;
        padding: 1%;
        width: 35em;
        height: 15em;
    }

    .radar {
        margin-top: 0.3em;
        width: 25em;
        height: 18em;
        padding-left: 5%;
        /* border-style: solid;
        border-color: rgb(173, 173, 173, 0.3);
        border-width: 0.1em; */
    }
}
