.barra {
    margin: auto;
    margin-top: 15%;
    width: 100vw;
    height: 40vh;
    max-width: 350px;
}

.torta {
    margin: auto;
    margin-top: 15%;
    width: 100vw;
    height: 50vh;
    min-height: 350px;
}

.cols-2 {
    justify-content: center;
    text-align: center;
}

@media (min-width: 850px) {
    .cols-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .barra {
        margin-top: 1.2em;
        padding: 2%;
        border-style: solid;
        border-color: rgb(173, 173, 173, 0.7);
        border-width: 0.1em;
    }

    .radar {
        margin-top: 0.5em;
        margin-left: 1em;
        width: 25em;
        height: 20em;
        padding-left: 5%;
        border-style: solid;
        border-color: rgb(173, 173, 173, 0.7);
        border-width: 0.1em;
    }
}